html, body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
}

#ui {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50px;
    opacity: 0.9;
    background-color: black;
    display: flex;
    justify-content: center;
}

#ui > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
}

#levelEditor {
    background-color: red;
    opacity: 0.9;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#levelEditor > * {
    text-decoration: none;
    color: white;
}